<section class="section-sm">
  <h1 class="mb-4">New photo</h1>
  <%if @photo.errors.any?%>
      <h2 class="category-new__error">Something went wrong:</h2>
      <ul>
        <%@photo.errors.full_messages.each do |message|%>
          <li><%=message%></li>
        <%end%>
      </ul>
  <%end%>
  <%= render 'form', photo: @photo, category: @category%>

  <%=link_to "Back", category_path(@category), class: "button button-full-width button--subtle"%>
</section>